.btn-fav {
  background-color: transparent;
  width: 30px;
  border-color: black;
  border-style: dashed;
  padding-top: 3px;
  transform: translate(70px, -25px);
}

.btn-favClick {
  background-color: deeppink;
}

.iconFav {
  background-color: transparent;
}
