.main {
  background-color: black;

  margin: 0;
  padding: 0;
}

.main-detail {
  display: flex;
  justify-content: center;
  width: 100%;
}

.not-found {
  display: flex;
  justify-content: center;
  color: white;
}
