.card {
  width: 250px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  background-color: #01b4c6;
}

.error-box {
  display: flex;
  justify-content: center;
  color: red;
}
