.card {
  height: 335px;
  width: 250px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 10px 5px grey;

  cursor: pointer;

  a {
    color: inherit;
    text-decoration: none;
    background-color: #01b4c6;
  }
}

.titleCard {
  margin-bottom: -15px;
  margin-top: -2px;
  margin-left: 10px;
  width: 200px;
  background-color: #01b4c6;
}

.subtitle {
  margin-left: 10px;
  width: 80px;
  background-color: #01b4c6;
}

.image {
  width: 240px;
  height: 220px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: space-evenly;
  height: 80px;
  background-color: #01b4c6;
}

.btn-fav {
  background-color: transparent;
  width: 30px;
  border-color: black;
  border-style: dashed;
  padding-top: 3px;
  transform: translate(70px, -25px);
}

.btn-favClick {
  background-color: deeppink;
}

.iconFav {
  background-color: transparent;
}
