.card {
  width: 250px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  background-color: #01b4c6;
}

.error {
  display: flex;
  color: red;
  justify-content: center;
}

.btn {
  width: 50px;
  text-decoration: none;
}

.cardList {
  grid-gap: 40px;
  grid-template-columns: 1fr;
  display: grid;
  margin-left: -10px;
  // margin-left: -15px;

  @media (min-width: 635px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
    margin-left: 70px;
    // margin-left: 20px;
  }
  @media (min-width: 1107px) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5px;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-left: -10px;
  }
}
