.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.input {
  height: 30px;
  width: 200px;
  border: 2px solid #01b4c6;
  background-color: black;
  color: white;
}
